# Cloudflare Tunnel
CLOUDFLARE_TUNNEL_ID=your-tunnel-id
CLOUDFLARE_CREDENTIALS_FILE=/path/to/.cloudflared/your-tunnel-id.json

# Domain
DOMAIN=yourdomain.tech

# Ports
JELLYFIN_PORT=8096
PORTFOLIO_PORT=8081
PORTAINER_PORT=9000
UPTIME_KUMA_PORT=3001
PROMETHEUS_PORT=9090
GRAFANA_PORT=3002
CADVISOR_PORT=8082

# Prometheus retention
PROMETHEUS_RETENTION=15d

# Media path
MEDIA_PATH=~/Media
